.--card--container {
  background-color: var(--gray-500);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-bottom: 12px;
  box-shadow: rgba(5, 5, 5, 0.2) 0px 7px 29px 0px;
  border: 2px solid var(--gray-400);
  border-radius: 5px;
  word-break: break-all;
  min-height: 2.4rem;
  height: auto;
}

.--card--issue--complete {
  color: var(--gray-300);
  text-decoration: line-through;
  display: flex;
  padding: 16px;
}

.--card--issue--ongoing {
  color: var(--gray-100);
  display: flex;
  padding: 16px;
}
